<!DOCTYPE html>
<html lang = 'en'>
    <meta charset = "UTF-8">
    <meta name = 'viewport' content = 'width=device-width, initial - scale = 1.0'>
    <title>HousePrice_Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
    <body>
    <div class="container">
        <h1>House Price Prediction</h1>
        <form action="/predict" method="post">
            <label for="Area Type">Area Type:</label>
            <select id="Area Type" name="Area Type" required>
                <option value='Super Built-Up Area'>Super Built-Up Area</option>
                <option value='Plot Area'>Plot Area</option>
                <option value='Built-Up Area'>Built-Up Area</option>
                <option value='Carpet Area'>Carpet Area</option>
            </select><br>

            <label for="Availability">Availability:</label>
            <select id="Availability" name="Availability" required>
                <option value='Not Ready to Move'>Not Ready to Move</option>
                <option value='Ready to Move'>Ready to Move</option>
            </select><br>

            <label for="Bedrooms">Number of Bedrooms:</label>
            <input type="number" id="Bedrooms" name="Bedrooms" required><br>

            <label for="Bathrooms">Number of Bathrooms:</label>
            <input type="number" id="Bathrooms" name="Bathrooms" required><br>

            <label for="Balcony">Number of Balconies:</label>
            <input type="number" id="Balcony" name="Balcony" required><br>
            
            <label for="Total Sqft">Total Sqft:</label>
            <input type="number" id="Total Sqft" name="Total Sqft" required><br>

            <input type="submit" value="Predict Price">
        </form>
        {% if prediction_text %}
        <div class="output">
            <h2>{{ prediction_text }}</h2>
        </div>
        {% endif %}
    </div>
    
    </body>
    </html>
    
</html>